In [2]:
import pandas as pd
df = pd.read_csv('./turnover.csv', encoding = 'ISO-8859-1')

train = df.sample(frac=0.8, random_state=42)
test = df.loc[~df.index.isin(train.index)]

In [3]:
train.head()

,stag,event,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
743,79.540041,0,m,23.0,IT,IT,youjs,my head,m,white,car,4.6,5.5,8.7,4.8,4.4
1010,7.129363,1,f,21.0,Consult,HR,youjs,my head,m,white,bus,5.4,6.9,7.2,2.5,4.4
1123,6.669405,0,f,27.0,Banks,HR,youjs,no,f,white,bus,9.4,5.5,3.3,4.0,7.5
140,20.041068,1,f,25.0,manufacture,HR,advert,yes,f,white,car,9.4,3.4,1.8,8.7,7.5
554,3.811088,1,f,32.0,etc,Marketing,youjs,no,m,white,bus,3.8,6.2,6.4,4.0,6.0

In [4]:
test.head()

,stag,event,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
1,22.965092,1,m,33.0,Banks,HR,empjs,no,m,white,bus,6.2,4.1,5.7,7.1,8.3
13,8.936345,1,f,24.0,State,etc,advert,yes,f,white,foot,7.0,6.2,4.1,7.1,9.0
14,33.577002,1,f,25.0,etc,HR,KA,my head,f,white,foot,9.4,1.2,4.1,5.6,6.7
20,45.371663,1,f,29.0,etc,HR,referal,no,m,white,bus,3.8,3.4,5.7,8.7,7.5
21,36.960986,1,f,48.0,State,BusinessDevelopment,empjs,no,f,white,bus,4.6,6.2,4.9,5.6,6.7

In [5]:
train.to_csv("./train.csv", encoding='ISO-8859-1', index=False)

In [6]:
test.to_csv("./test.csv", encoding='ISO-8859-1', index=False)